.contact-form-container {
  background: var(--contact-form-border-gradient);
  border-radius: 8px;
  box-shadow: var(--generic-box-shadow);
  display: flex;
  flex-direction: column;
  padding: 1px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  border-radius: 7px;
  color: var(--secondary-color);
  gap: 8px; 
  padding: 40px;
}