@keyframes flicker1 {
  0% { filter: var(--yellow-drop-filter); }
  0.5% { filter: none; }
  1% { filter: var(--yellow-drop-filter); }
  2% { filter: none; }
  3% { filter: none; }
  4% { filter: var(--yellow-drop-filter) }
  100% { filter: var(--yellow-drop-filter) }
}

@keyframes flicker2 {
  0% { filter: var(--yellow-drop-filter); }
  2% { filter: var(--yellow-drop-filter); }
  2.5% { filter: none; }
  3% { filter: var(--yellow-drop-filter); }
  4% { filter: none; }
  5% { filter: none; }
  6% { filter: var(--yellow-drop-filter) }
  100% { filter: var(--yellow-drop-filter) }
}

#vector-hair {
  filter: var(--purple-drop-filter);
} 

#vector-skin {
  filter: var(--blue-drop-filter);
}

#vector-shirt {
  filter: var(--purple-drop-filter);
}

#vector-headphone-color-1 {
  filter: var(--yellow-drop-filter);
  animation-name: flicker1;
  animation-duration: 8000ms;
  animation-iteration-count: infinite;
}

#vector-headphone-color-2 {
  filter: var(--yellow-drop-filter);
  animation-name: flicker2;
  animation-duration: 8000ms;
  animation-iteration-count: infinite;
}

.vector-line {
  stroke: white;
  display: inline;
  opacity: 1;
  fill: none;
  stroke-width: 4;
  stroke-width: round;
  stroke-linejoin: round;
  stroke-miterlimit: 57.5;
  stroke-dasharray: none;
  stroke-opacity: 1;
  paint-order: stroke markers fill;
}