@import '../../../../variables.css';

.theme-btn {
  border-radius: 50px;
  line-height: 1rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  transition: background-color 300ms ease, color 300ms ease;
}

.theme-btn.dark {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.theme-btn.light {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
