.gallery-card {
  max-width: 300px;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--primary-color);
  box-shadow: var(--gallery-card-box-shadow-blue);
  transition-duration: 300ms;
}

.gallery-card:hover {
  box-shadow: var(--gallery-card-box-shadow-blue-hover);
}