.about-me-wrapper {
  width: 100%;
  background-color: var(--primary-color);
}

.about-me-container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px;
}

.about-me-box {
  display: flex;
  border: 1px solid white;
  border-radius: 8px;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  padding: 40px;
  box-shadow: var(--generic-box-shadow);
}