.gallery-wrapper {
  display: flex;
  background-image: url("../../assets/duotone_polygon_bg_small.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery-container {
  display: flex;
  padding: 80px 40px;
  margin: 0 auto;
  max-width: 1200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery-title {
  align-self: flex-end;
  color: var(--light-blue);
} 

.gallery-box {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  gap: 64px;
}