:root {
  --primary-color: rgb(7, 7, 7);
  --secondary-color: rgb(221, 221, 221);

  --light-purple: rgb(163, 93, 228);
  --mid-purple: rgb(113, 39, 182);
  --light-blue: rgb(151, 170, 255);
  --mid-blue: rgb(89, 118, 250);
  --mid-yellow: rgb(255, 255, 99);

  --almost-black: rgb(12, 12, 12);

  --btn-gradient-color-1-purple: rgb(227, 196, 255);
  --btn-gradient-color-2-purple: rgb(113, 52, 192);
  --btn-gradient-color-3-purple: rgb(58, 18, 133);

  --btn-gradient-color-1-blue: rgb(196, 207, 255);
  --btn-gradient-color-2-blue: rgb(52, 129, 192);
  --btn-gradient-color-3-blue: rgb(18, 81, 133);
  
  --generic-box-shadow: 
    2px 2px 15px rgba(0, 0, 0, 0.1),
    2px 2px 8px rgba(0, 0, 0, 0.3);

  --blue-logos-gradient: linear-gradient(
    90deg,
    rgba(1, 7, 34, 0) 0%,
    rgba(29, 118, 190, 0.5) 15%,
    rgba(100, 178, 241, 0.8) 30%,
    rgb(169, 184, 250) 70%,
    rgba(100, 178, 241, 0.8) 80%,
    rgba(29, 118, 190, 0.5) 90%,
    rgba(1, 7, 34, 0) 100%
  );

  --stack-logos-blue-glow: 
    0px 0px 35px rgba(29, 118, 190, 0.1),
    0px 0px 15px rgba(100, 178, 241, 0.3),
    0px 0px 5px rgba(198, 208, 253, 0.5);

  --stack-logos-blue-glow-inset: 
    inset 0px 0px 35px rgba(29, 118, 190, 0.1),
    inset 0px 0px 15px rgba(100, 178, 241, 0.3),
    inset 0px 0px 5px rgba(198, 208, 253, 0.5);

  --blue-drop-filter:
    drop-shadow(0px 0px 75px rgba(1, 7, 34, 0.7))
    drop-shadow(0px 0px 35px rgb(14, 39, 151))
    drop-shadow(0px 0px 15px rgb(65, 92, 216))
    drop-shadow(0px 0px 5px rgb(141, 162, 255));

  --purple-drop-filter:
    drop-shadow(0px 0px 75px rgba(32, 2, 61, 0.7))
    drop-shadow(0px 0px 35px rgb(60, 14, 104))
    drop-shadow(0px 0px 15px rgb(113, 39, 182)) 
    drop-shadow(0px 0px 5px rgb(173, 97, 243));

  --yellow-drop-filter:
    drop-shadow(0px 0px 20px rgb(105, 105, 1)) 
    drop-shadow(0px 0px 8px rgb(197, 197, 41)) 
    drop-shadow(0px 0px 5px rgb(255, 255, 120));
}